*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao viewport */
}

header {
    flex: 0 0 auto; /* Header có chiều cao tự động */
}

main {
    flex: 1 0 auto; /* Nội dung chính chiếm hết không gian còn lại */
}

footer {
    flex: 0 0 auto; /* Footer có chiều cao tự động */
}

/* body */
body {
    position: relative;
}

/* body -> body-content */
.body-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động */
}

.body-content.blur{
    opacity: 0.3;
    position: relative;
    z-index: 1; /* Đảm bảo nó nằm dưới body-search-pc */
}

/* body -> body-search-pc & body-cart */
.body-menu,
.body-cart,
.body-search-pc {
    position: fixed;
    z-index: 1000; /* Đảm bảo nó nổi lên trên */
    height: 100vh; /* Chiều cao bằng với khung hình hiện tại */
    background-color: #fff; /* Để nhìn thấy được các nội dung bên dưới */
    top: 0;
    right: -100%;
    transition: right 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động */
    box-shadow: -10px 0px 15px -5px rgba(0, 0, 0, 0.5); /* Đổ bóng ở bên trái */   
    width: 40%;
    padding: 40px 35px;
}

@media (max-width: 999px){
    .body-menu,
    .body-cart {
        width: 50%;
    }
}

@media (max-width: 729px){
    .body-menu,
    .body-cart {
        width: 90%;
    }
}

.body-menu.active,
.body-cart.active,
.body-search-pc.active {
    right: 0; /* Di chuyển vào khung hình */
}

.body-menu .header-menu,
.body-cart .header-cart,
.body-search-pc .header-search {
    display: flex;
}

.body-menu p,
.body-cart p,
.body-search-pc p {
    width: 100%;
    font-size: 15px;
    font-weight: 100;
}

.body-menu .ti-close,
.body-cart .ti-close,
.body-search-pc .ti-close {
    cursor: pointer;
    right: 0;
    font-size: 25px;
    font-weight: 500;
}

.body-search-pc .search-pc {
    margin-top: 50px;
    height: auto;
}

.body-search-pc .search-pc form{
    height: 50px;
}

.content-search {
    margin: 10px 10px;
}

.content-search a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    height: auto;
}

.content-search .resultsMore {
    border: none;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 10px;
    color: #707070;
}

.content-search a .content-product {
    font-size: 12px;
}

.content-search a .content-product p {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* ẩn phần tên thừa khỏi khung */
    width: 100%; /* Đảm bảo nó chiếm hết chiều rộng của phần tử cha */
    display: block;

}

.content-search a .content-product .cost .price {
    color: #4b4b4b;
}

.content-search a .content-product .cost .new-price{
    color: red;
    padding-right: 10px;
}

.content-search a .content-product .cost .old-price{
    color: #9c9c9c;
    text-decoration: line-through;
}

.body-page-cart a img,
.content-cart a img,
.content-search a img {
    width: 100%;
    height: auto;
}

/* cart */
.body-cart .cart-box {
    margin: 20px 0;
    flex-grow: 1;
    overflow-y:scroll; /* Kích hoạt thanh cuộn theo chiều dọc */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    max-height: calc(100vh - 100px); 
}

.cart-box #cart-view {
    padding: 0 15px;
}

.cart-box table tr {
    padding: 20px 0;
    border-bottom: 1px dotted #bcbcbc;
}

.cart-box table tr:last-child {
    border-bottom: 2px solid #000;
}

.cart-box table tr .img{
    padding-left: 0;
}

.cart-box table tr {
    position: relative;
}

.cart-box table tr td .pro-title-view {
    font-weight: 600;
}

.cart-box table tr td .variant {
    font-size: 13px;
    color: #989797;
    margin: 8px 0 15px 0;
    display: block;
}

.cart-box table tr td .pro-quantity-view {
    background-color: #ededed;
    font-size: 13px;
    padding: 7px 10px;
    margin-right: 5px;
}

.cart-box table tr td .pro-price-view {
    color: #757575;
}

.cart-box table tr .drop-product {
    font-size: 15px;
    font-weight: 900;
    padding: 0;
}

.body-cart .total-cost {
    padding: 10px 12px;
}

.button-box-page,
.body-cart .button-box {
    padding: 20px 0;
    display: flex;
}

.button-box-page button,
.button-box button {
    padding: 20px 5px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px; /* dãn chữ trên dòng */
    cursor: pointer;
}

.button-box-page button:hover,
.button-box button:hover {
    background-color: #fff;
    color: #000;
}

a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    cursor: pointer;
}

/* main */

/* sidebar */
main .breadcrumb {
    background-color: #f3f3f3;
    padding: 13px 0;
}

main .breadcrumb ol {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
    font-size: 13px;
}

.breadcrumb ol>li+li:before {
    padding: 0 3px;
    color: #ccc;
    content: "/\00a0";
}

main .breadcrumb ol li a {
    text-decoration: none;
    color: #5a5a5a;
    padding-right: 5px;
}

main .breadcrumb ol li span {
    color: #777;
}

/* body content cart */
main .body-content-cart {
    padding-top: 30px;
}

main .body-content-cart .head-cart{
    text-align: center;
}

main .body-content-cart .head-cart::after {
    content: "";
    background: #252a2b;
    display: block;
    width: 60px;
    height: 4px;
    margin: 20px auto 0;
}

main .body-content-cart .head-cart p {
    margin-top: 15px;
    color: #393939;
}

.body-page-cart {
    padding-top: 20px;
}

.body-page-cart .img img {
    padding: 20px 10px 20px 20px;
}

.body-page-cart .infor {
    padding: 20px 0;
    position: relative;
}

.body-page-cart .pro-title-view-page {
    font-weight: 600;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px; /* dãn chữ trên dòng */
    margin-bottom: 5px;
    width: 85%;
}

.body-page-cart .variant-page,
.body-page-cart .pro-price-view {
    font-size: 15px;
    color: #4f4f4f;
    margin-bottom: 5px;
}

.body-page-cart .infor-sum-profuct {
    display: flex;
    align-items: center; /* Căn giữa theo chiều dọc */
}

.infor-sum-profuct .quantity-area {
    margin-top: 15px;
    width: 100%;
    float: left;
}

.infor-sum-profuct .quantity-area input[type="button"] {
    float: left;
    background: #fff;
    border: solid 1px #ededed;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

.infor-sum-profuct .quantity-area input[type="text"] {
    background: #ededed;
    font-weight: 600;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #ededed;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
}

.body-page-cart .infor-sum-profuct .pro-sum-price-view {
    text-align: right; /* Căn nội dung về bên phải */
    padding-right: 30px;
}

.body-page-cart .infor-sum-profuct .pro-sum-price-view p {
    display: none;
}

@media (max-width: 739px){
    .body-page-cart .infor-sum-profuct .pro-sum-price-view {
        text-align: left; /* Căn nội dung về bên phải */
        margin-top: 20px;
        font-size: 18px;
    }

    .body-page-cart .infor-sum-profuct .pro-sum-price-view p {
        display: block;
    }
}

.body-page-cart .drop-product-page {
    font-weight: 600;
    position: absolute;
    cursor: pointer;
    top: 20px;
    right: 20px;
}

.total-cost-page {
    padding: 10px 20px 0 20px;
}

.total-cost-page span {
    font-size: 25px;
    font-weight: 600;
}

.button-box-page {
    margin-left: 20px;
}

.button-box-page button {
    margin-right: 10px;
    margin-top: 10px;
}

.button-box-page button i {
    font-weight: 600;
}
