*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao viewport */
}

header {
    flex: 0 0 auto; /* Header có chiều cao tự động */
}

main {
    flex: 1 0 auto; /* Nội dung chính chiếm hết không gian còn lại */
}

footer {
    flex: 0 0 auto; /* Footer có chiều cao tự động */
}

/* body */
body {
    position: relative;
}

/* body -> body-content */
.body-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động */
}

.body-content.blur{
    opacity: 0.3;
    position: relative;
    z-index: 1; /* Đảm bảo nó nằm dưới body-search-pc */
}

/* main */

/* sidebar */
main .breadcrumb {
    background-color: #f3f3f3;
    padding: 13px 0;
}

main .breadcrumb ol {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
    font-size: 13px;
}

.breadcrumb ol>li+li:before {
    padding: 0 3px;
    color: #ccc;
    content: "/\00a0";
}

main .breadcrumb ol li a {
    text-decoration: none;
    color: #5a5a5a;
    padding-right: 5px;
}

main .breadcrumb ol li span {
    color: #777;
}

.body-product {
    padding-top: 30px;
}

.list-img {
    cursor: pointer;
}

.main-img img,
.list-img img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

.item-img {
    padding-right: 0;
}

.item-img img.active {
    border: 1px solid #000000;
}

.info-product {
    padding: 0 20px;
}

.info-product .partial {
    padding: 20px 0;
    border-bottom: 1px dotted #dfe0e1;
    display: flex;
    align-items: center;
}

.partial .sizeProduct {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* tạo hiệu ứng vuốt ngang ảnh ở tablet & mobile */
@media(max-width: 999px){
    .container {
        display: flex;
        overflow-x: auto;
        scroll-snap-type: x mandatory; /* Kích hoạt tính năng snap */
        scroll-behavior: smooth; /* Hiệu ứng cuộn mượt */
    }
    
    .container .item {
        flex: 0 0 100%; /* Mỗi thẻ div chiếm toàn bộ chiều rộng khung nhìn */
        scroll-snap-align: start; /* Đặt điểm snap ở đầu mỗi thẻ div */
        box-sizing: border-box;
    }
    
}


.info-product p {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px;
    line-height: initial;
}

.info-product .percent {
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    padding: 5px 15px;
    margin-right: 10px;
    background-color: #ededed;
    color: red;
}

.info-product .price {
    font-size: 18px;
    opacity: .92;
    font-weight: bold;
}

.info-product .old-price {
    font-size: 14px;
    color: #777a7b;
    padding-left: 10px;
    font-weight: 500;
    text-decoration: line-through;
}

.info-product .size {
    padding: 13px 15px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #494949;
    text-align: center;
    cursor: pointer;
    font-weight: 600;
    width: 100%;
}

.info-product .size:hover {
    background-color: #000;
    color: #fff;
}

.info-product .size.active {
    background-color: #000;
    color: #fff;
}

.info-product .quantity-area {
    margin-top: 15px;
    width: 100%;
    float: left;
}

.info-product .quantity-area input[type="button"] {
    float: left;
    background: #f5f5f5;
    border: solid 1px #f5f5f5;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
    outline: none;
    height: 32px;
    width: 32px;
    text-align: center;
    border-radius: 0;
}

.info-product .quantity-area input[type="text"] {
    background: #fff;
    font-weight: 600;
    height: 32px;
    padding: 0;
    text-align: center;
    width: 70px;
    border: 1px solid #f5f5f5;
    border-left: none;
    border-right: none;
    border-radius: 1px;
    float: left;
}

.info-product .add-cart button{
    margin: 20px 0;
    padding: 15px 0;
    border: 1px solid #000;
    width: 100%;
    background-color: #252525;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px; /* dãn chữ trên dòng */
    cursor: pointer;
}

.info-product .add-cart button:hover {
    background-color: #fff;
    color: #000;
}

/* related products */
.related-products h2 {
    text-align: center;
    padding-top: 30px;
    font-weight: 200;
    font-size: 30px;
}

/* product */
.box-product {
    margin-top: 50px;
    display: flex;
}

.product-item {
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng tổng */
    padding: 0 5px;
    overflow: hidden; /* Ẩn phần tràn ra ngoài của hình ảnh */
    position: relative;
}

.product-item .percent {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    padding: 2px 5px;
    background-color: #fff;
    color: red;
}

.product-item img {
    width: 100%; /* Đảm bảo hình ảnh chiếm hết chiều rộng của parent div */
    height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
}

.product-item .product-img .first-img,
.product-item .product-img:hover .second-img{
    display: block;
}

.product-item .product-img:hover .first-img,
.product-item .second-img {
    display: none;
}

a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    cursor: pointer;
}

.product-item p {
    font-size: 14px;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* ẩn phần tên thừa khỏi khung */
    width: 100%; /* Đảm bảo nó chiếm hết chiều rộng của phần tử cha */
    display: block;
}

.product-item .cost {
    font-size: 14px;
    padding: 10px 0;
}

.product-item .cost .new-price{
    color: red;
    padding-right: 10px;
}

.product-item .cost .old-price{
    color: #9c9c9c;
    text-decoration: line-through;
}