*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao viewport */
}

header {
    flex: 0 0 auto; /* Header có chiều cao tự động */
}

main {
    flex: 1 0 auto; /* Nội dung chính chiếm hết không gian còn lại */
}

footer {
    flex: 0 0 auto; /* Footer có chiều cao tự động */
}

/* body */
body {
    position: relative;
}

/* body -> body-content */
.body-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động */
}

.body-content.blur{
    opacity: 0.3;
    position: relative;
    z-index: 1; /* Đảm bảo nó nằm dưới body-search-pc */
}

/* body -> body-search-pc & body-cart */
.body-cart,
.body-search-pc {
    position: fixed;
    z-index: 1000; /* Đảm bảo nó nổi lên trên */
    height: 100vh; /* Chiều cao bằng với khung hình hiện tại */
    background-color: #fff; /* Để nhìn thấy được các nội dung bên dưới */
    top: 0;
    right: -100%;
    transition: right 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động */
    box-shadow: -10px 0px 15px -5px rgba(0, 0, 0, 0.5); /* Đổ bóng ở bên trái */   
    width: 40%;
    padding: 40px 35px;
}

@media (max-width: 999px){
    .body-cart {
        width: 50%;
    }
}

@media (max-width: 729px){
    .body-cart {
        width: 100%;
    }
}

.body-cart.active,
.body-search-pc.active {
    right: 0; /* Di chuyển vào khung hình */
}


.body-cart .header-cart,
.body-search-pc .header-search {
    display: flex;
}

.body-cart p,
.body-search-pc p {
    width: 100%;
    font-size: 15px;
    font-weight: 100;
}

.body-cart .ti-close,
.body-search-pc .ti-close {
    cursor: pointer;
    right: 0;
    font-size: 25px;
    font-weight: 500;
}

.body-search-pc .search-pc {
    margin-top: 50px;
    height: auto;
}

.body-search-pc .search-pc form{
    height: 50px;
}

.content-search {
    margin: 10px 10px;
}

.content-search a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
    height: auto;
}

.content-search .resultsMore {
    border: none;
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 10px;
    color: #707070;
}

.content-search a .content-product {
    font-size: 12px;
}

.content-search a .content-product p {
    margin-bottom: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* ẩn phần tên thừa khỏi khung */
    width: 100%; /* Đảm bảo nó chiếm hết chiều rộng của phần tử cha */
    display: block;

}

.content-search a .content-product .cost .price {
    color: #4b4b4b;
}

.content-search a .content-product .cost .new-price{
    color: red;
    padding-right: 10px;
}

.content-search a .content-product .cost .old-price{
    color: #9c9c9c;
    text-decoration: line-through;
}

.content-cart a img,
.content-search a img {
    width: 100%;
    height: auto;
}

/* cart */
.body-cart .cart-box {
    margin: 20px 0;
    flex-grow: 1;
    overflow-y:scroll; /* Kích hoạt thanh cuộn theo chiều dọc */
    overflow-x: hidden; /* Ẩn thanh cuộn ngang */
    max-height: calc(100vh - 100px); 
}

.cart-box #cart-view {
    padding: 0 15px;
}

.cart-box table tr {
    padding: 20px 0;
    border-bottom: 1px dotted #bcbcbc;
}

.cart-box table tr:last-child {
    border-bottom: 2px solid #000;
}

.cart-box table tr .img{
    padding-left: 0;
}

.cart-box table tr {
    position: relative;
}

.cart-box table tr td .pro-title-view {
    font-weight: 600;
}

.cart-box table tr td .variant {
    font-size: 13px;
    color: #989797;
    margin: 8px 0 15px 0;
    display: block;
}

.cart-box table tr td .pro-quantity-view {
    background-color: #ededed;
    font-size: 13px;
    padding: 7px 10px;
    margin-right: 5px;
}

.cart-box table tr td .pro-price-view {
    color: #757575;
}

.cart-box table tr .drop-product {
    font-size: 15px;
    font-weight: 900;
    padding: 0;
}

.body-cart .total-cost {
    padding: 10px 12px;
}

.body-cart .button-box {
    padding: 20px 0;
    display: flex;
}

.button-box button {
    padding: 20px 5px;
    background-color: #000;
    color: #fff;
    letter-spacing: 1px; /* dãn chữ trên dòng */
    cursor: pointer;
}

.button-box button:hover {
    background-color: #fff;
    color: #000;
}

/* header */

/* title */
header {
    width: 100%;
    top: -100%;
    z-index: 900; /* Đảm bảo header nằm trên các phần tử khác */
    background-color: #fff;
    transition: top 0.3s ease-in-out; /* Thêm hiệu ứng chuyển đổi cho thuộc tính top */
}

/* Khi cuộn xuống, thêm lớp cố định */
header.fixed {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Tạo đổ bóng để header nổi bật */
    position: fixed; /* Làm cho header cố định */
    top: 0;
    left: 0;
    right: 0;
}

.header-mid{
    padding: 10px 0;
    text-align: center;
}

.header-mid h1{
    font-size: 35px;
    font-weight: 500;
    padding: 5px 0;
}

.header-mid p{
    font-size: 35px;
    color: #5f5e5e; 
    font-weight: 100;
}

/* icon */

.header-wrap-icon {
    display: flex;
    align-items: center;
}

.header-wrap-icon > span{
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

.header-wrap-icon > a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    font-size: 20px;
    font-weight: 900;
}

@media (max-width: 1112px){
    .header-wrap-icon .ti-menu {
        display: flex; /* Đặt Flexbox */
        align-items: center; /* Căn giữa theo chiều dọc */
        gap: 5px; /* Khoảng cách giữa icon và văn bản */
        padding: 0 5px;
    }

    .header-wrap-icon .ti-menu p {
        font-size: 15px;
        color: #989797;
    }   
}

@media (max-width: 739px) {
    .header-mid h1{
        font-size: 30px;
        font-weight: 600;
        padding: 5px 0;
    }
    
    .header-mid p{
        font-size: 30px;
        color: #5f5e5e; 
    }
}

@media (max-width: 400px) {
    .header-mid h1{
        font-size: 25px;
        font-weight: 600;
        padding: 5px 0;
    }
    
    .header-mid p{
        font-size: 25px;
        color: #5f5e5e; 
    }
    
    .phone-icon-0 {
        display: none;
    }

    .phone-icon-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .ti-menu{
        display: flex;
        justify-content: center;
        margin-top: -30px;
    }
}

@media (max-width: 300px) {
    .header-mid h1{
        font-size: 20px;
        font-weight: 600;
        padding: 5px 0;
    }
    
    .header-mid p{
        font-size: 20px;
        color: #5f5e5e; 
    }

    .ti-menu{
        display: flex;
        justify-content: center;
        margin-top: -20px;
    }
}

/* menu */
.menu-desktop ul {
    list-style-type: none; /* Loại bỏ dấu chấm đầu dòng */
    padding: 30px 10px 20px 20px; /* Loại bỏ padding mặc định */
    z-index: 500;
}

.menu-desktop ul li a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    padding: 10px 0;
    font-size: 15px;
    color: #5a5a5a;
}

.menu-desktop ul li a:hover {
    color: #000;
}

.menu-desktop ul li i {
    font-size: 10px;
    font-weight: 900;
    padding-left: 5px;
}

/* subnav */
.menu-desktop .has-subnav {
    position: relative;
}


.menu-desktop .has-subnav .subnav {
    display: none;
}

.menu-desktop .has-subnav:hover .subnav {
    display: block;
    position: absolute;
    width: max-content;
    list-style-type: none; /* Loại bỏ dấu đầu dòng mặc định */
    margin-top: 5px; /* Loại bỏ khoảng cách giữa các dấu đầu dòng */
    padding: 5px 0 0 0; /* Loại bỏ lề ngoài của danh sách */
    background-color: #fff;
}

.menu-desktop .has-subnav:hover .subnav .item-top {
    border-top: 2px solid #000;
}

.menu-desktop .has-subnav:hover .subnav li {
    padding: 10px 0;
    border-bottom: 1px solid #f0efef;
    cursor: pointer;
}

.menu-desktop .has-subnav:hover .subnav li:hover {
    background-color: #e5e5e5;
}

.menu-desktop .has-subnav:hover .subnav li a {
    padding: 0 10px;
}


/* search */
.search-box {
    padding: 0 20px;
    margin-top: -30px;
    height: 30px;
}

.search-box input {
    border: none;
    outline: none;
    background-color: #f5f5f5;
}

.search-box button {
    border: none;
    background-color: #f5f5f5;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: right;
}

.search-box button i {
    font-size: 15px;
    color: #989797;
    padding-right: 15px;
}

/* main */

/* slides */
.slides {
    display: flex;
    flex-wrap: wrap; /* Đảm bảo rằng các phần tử sẽ wrap nếu không đủ chỗ */
}

.slides .home-banner {
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng tổng */
    padding: 0;
    overflow: hidden; /* Ẩn phần tràn ra ngoài của hình ảnh */

}

.home-banner img {
    width: 100%; /* Đảm bảo hình ảnh chiếm hết chiều rộng của parent div */
    height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
    transition: transform 1.5s ease-in-out; /* Thêm hiệu ứng chuyển đổi cho transform */

}

/* Tạo hiệu ứng phóng to khi hover */
.home-banner img:hover {
    transform: scale(1.1); /* Phóng to ảnh lên 1.1 lần */
}

@media (max-width: 1112px){
    .slides .home-banner {
        box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng tổng */
        padding: 10px 0;
    }  
}

/* product */
section .product {
    margin-top: 15px;
}

section .shoes {
    position: relative;
    width: 100%;
    overflow: hidden; /* Ẩn mọi thứ bên ngoài vùng chứa này */
}

section h1 {
    padding: 50px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 300;
    letter-spacing: 1px;
}

section {
    display: flex;
    flex-wrap: wrap; /* Đảm bảo rằng các phần tử sẽ wrap nếu không đủ chỗ */
    position: relative;
}

section .shoes .box-product {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: calc(200%); /* Adjust based on the number of slides */
}

@media (max-width: 1112px) {
    section .shoes .box-product {
        width: calc(500%); /* Adjust based on the number of slides */
    }
}

section .product-item {
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng tổng */
    padding: 0 5px;
    overflow: hidden; /* Ẩn phần tràn ra ngoài của hình ảnh */
    position: relative;
}

section .product-item .percent {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    padding: 2px 5px;
    background-color: #fff;
    color: red;
}

section .product-item img {
    width: 100%; /* Đảm bảo hình ảnh chiếm hết chiều rộng của parent div */
    height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
}

section .product-item .product-img .first-img,
section .product-item .product-img:hover .second-img{
    display: block;
}

section .product-item .product-img:hover .first-img,
section .product-item .second-img {
    display: none;
}

section .product-item a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    cursor: pointer;
}

section .product-item p {
    font-size: 14px;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* ẩn phần tên thừa khỏi khung */
    width: 100%; /* Đảm bảo nó chiếm hết chiều rộng của phần tử cha */
    display: block;
}

section .product-item .cost {
    font-size: 14px;
    padding: 10px 0;
}

section .product-item .cost .new-price{
    color: red;
    padding-right: 10px;
}

section .product-item .cost .old-price{
    color: #9c9c9c;
    text-decoration: line-through;
}

/* select prev-next */
section .prev {
    position: absolute;
    left: 0;
    margin-left: 8px;
    z-index: 50;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng xung quanh */
    cursor: pointer;
}

section .next i,
section .prev i {
    color: #000;
    width: 100%;
    height: 100%;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}

section .next {
    position: absolute;
    right: 0;
    margin-right: 8px;
    z-index: 50;
    background-color: #ffffff;
    width: 50px;
    height: 50px;
    top: 40%;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Đổ bóng xung quanh */
    cursor: pointer;
}

@media (max-width: 400px) {
    section .prev,
    section .next {
        width: 40px;
        height: 40px;
    }
}

/* footer */

/* footer -> top-footer */
footer {
    margin-top: 20px;
}

footer .top-footer{
    background-color: #f3f3f3;
    padding: 15px 10px !important;
}

footer .receive-email {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .receive-email .email-text {
    display: flex;
    align-items: center;
}

footer .receive-email .email-text i {
    padding: 0 5px;
    font-size: 25px;
}

footer .receive-email .email-text p {
    font-size: 15px;
    padding: 0 10px;
    color: #4d4d4d;
}

footer .receive-email .input-email {
    display: flex;
    justify-content: center;
}

footer .receive-email .input-email input{
    width: 85%;
    height: 40px;
    padding: 0 15px;
}

footer .receive-email .input-email button{
    width: 14%;
    height: 40px;
    background-color: #000;
    letter-spacing: 1px; /* dãn chữ trên dòng */
    font-size: 12px;
    cursor: pointer;
    color: #fff;
    border: none;
    margin-left: -1%;
}

footer .top-footer .infor-store {
    display: flex;
    align-items: center;
    font-size: 14px;
}

footer .top-footer .infor-store .phone-number {
    display: flex;
    align-items: center;

}

footer .top-footer .infor-store .phone-number i {
    margin-right: 10px;
}

footer .top-footer .infor-store .phone-number p {
    letter-spacing: 1px; /* dãn chữ trên dòng */
}


footer .top-footer .infor-store .email a {
    text-decoration: none; /* Bỏ gạch chân */
    letter-spacing: 1px; /* dãn chữ trên dòng */
    color: #4d4d4d;
    color: red;
}

@media (max-width: 1112px) {
    footer .top-footer .receive-email .email-text,
    footer .top-footer .receive-email .input-email,
    footer .top-footer .infor-store {
        padding: 10px 0 10px 10px;
    }
}

@media (max-width: 739px) {
    footer .top-footer .infor-store .phone-number {
        margin-bottom: 10px;
    }
}

/* main-footer */

footer .main-footer {
    margin-top: 25px;
    margin-bottom: 40px;
}

footer .main-footer h2 {
    padding: 20px 0;
    font-weight: 200;
}


footer .main-footer .introduce p {
    letter-spacing: 1px; /* dãn chữ trên dòng */
    line-height: 1.5; /* Khoảng cách giữa các dòng bằng 1.5 lần kích thước font */
    font-size: 14px;
    color: #4d4d4d;
}

footer .main-footer .contact span {
    display: flex;
    align-items: center;
    padding: 7px 0;
    font-weight: 600;
}

footer .main-footer .contact span p {
    font-weight: 100;
    padding: 0 10px;
    color: #4d4d4d;
}

footer .main-footer .contact span a {
    text-decoration: none; /* Bỏ gạch chân */
    padding: 0 10px;
    font-weight: 100;
    color: #4d4d4d;
}

/* bottom-footer */

footer .bottom-footer {
    background-color: #f3f3f3 ;
    border-top: 1px solid #dbdbdb;
    text-align: center;
    padding: 20px 0;
    color: #4d4d4d;
}