*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao viewport */
}

header {
    flex: 0 0 auto; /* Header có chiều cao tự động */
}

main {
    flex: 1 0 auto; /* Nội dung chính chiếm hết không gian còn lại */
}

footer {
    flex: 0 0 auto; /* Footer có chiều cao tự động */
}

/* body */
body {
    position: relative;
}

a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    cursor: pointer;
}

/* main */

main .title-login {
    font-size: 55px;
    font-weight: 600;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #e3e3e3;
}

main .form-login {
    padding: 130px 100px;
    height: 100vh;
}

main .form-login .error-infor {
    color: red;
    font-size: 15px;
    margin-bottom: 20px;
}

main .form-login input {
    width: 100%;
    height: 55px;
    border: none;
    background: #ededed;
    padding: 0 20px;
    margin-bottom: 30px;
    
}

main .form-login .button {
    display: flex;
    align-items: center;
}

main .form-login button {
    height: 55px;
    background: #000;
    color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding: 0 30px;
}

main .form-login button:hover {
    background-color: #fff;
    color: #000;
}

main .form-login .button p {
    margin-left: 20px;
    color: #989797;
}

main .form-login .button p a {
    text-decoration: none; /* Bỏ gạch chân */
    color: #000;
}

/* Bỏ viền và đổi màu nền khi input có focus */
main .form-login input:focus {
    outline: none; /* Bỏ outline mặc định */
    border: 1px solid #e3e3e3;  /* Bỏ viền */
    background-color: #fff; /* Đổi màu nền */
}

main .login-With-Google {
    display: flex;
    color: #484848;
    margin: 30px 0;
    border: 1px solid #b3b3b3;
    padding: 15px 0;
    width: 50%;
    cursor: pointer;
}

main .login-With-Google i {
    color: #000;
    font-size: 18px;
    font-weight: 600;
    padding: 0 5px;
}



@media (max-width: 999px) {
    main .title-login {
        height: 50vh;
        border-bottom: 1px solid #e3e3e3;
    }

    main .form-login {
        height: 80vh;
    }
}

@media (max-width: 739px) {
    main .title-login {
        height: auto;
        padding: 70px 0;
        border-bottom: 1px solid #e3e3e3;
        font-size: 40px;
    }

    main .form-login {
        height: auto;
        padding: 100px 30px;
    }
}

@media (max-width: 350px) {
    main .form-login .button {
        display: block;
        text-align: center;
    }

    main .form-login .button p {
        margin-left: 0;
        margin-top: 20px;
    }
}
