*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Đảm bảo chiều cao tối thiểu bằng chiều cao viewport */
}

header {
    flex: 0 0 auto; /* Header có chiều cao tự động */
}

main {
    flex: 1 0 auto; /* Nội dung chính chiếm hết không gian còn lại */
}

footer {
    flex: 0 0 auto; /* Footer có chiều cao tự động */
}

/* body */
body {
    position: relative;
}

a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    cursor: pointer;
}

/* body -> body-content */
.body-content {
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Thêm hiệu ứng chuyển động */
}

.body-content.blur{
    opacity: 0.3;
    position: relative;
    z-index: 1; /* Đảm bảo nó nằm dưới body-search-pc */
}


/* product */
.box-product {
    margin-top: 50px;
    display: flex;
}

.product {
    margin: 10px 0;
    opacity: 0;
    transform: scale(0);
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.product.show {
    opacity: 1;
    transform: scale(1);
}

.product-item {
    box-sizing: border-box; /* Đảm bảo padding không ảnh hưởng đến chiều rộng tổng */
    padding: 0 5px;
    overflow: hidden; /* Ẩn phần tràn ra ngoài của hình ảnh */
    position: relative;
}

.product-item .percent {
    position: absolute;
    font-size: 14px;
    font-weight: 600;
    margin-top: 10px;
    margin-left: 5px;
    padding: 2px 5px;
    background-color: #fff;
    color: red;
}

.product-item img {
    width: 100%; /* Đảm bảo hình ảnh chiếm hết chiều rộng của parent div */
    height: auto; /* Giữ tỷ lệ khung hình của hình ảnh */
}

.product-item .product-img .first-img,
.product-item .product-img:hover .second-img{
    display: block;
}

.product-item .product-img:hover .first-img,
.product-item .second-img {
    display: none;
}

a {
    text-decoration: none; /* Bỏ gạch chân */
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
    cursor: pointer;
}

.product-item p {
    font-size: 14px;
    padding-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;/* ẩn phần tên thừa khỏi khung */
    width: 100%; /* Đảm bảo nó chiếm hết chiều rộng của phần tử cha */
    display: block;
}

.product-item .cost {
    font-size: 14px;
    padding: 10px 0;
}

.product-item .cost .new-price{
    color: red;
    padding-right: 10px;
}

.product-item .cost .old-price{
    color: #9c9c9c;
    text-decoration: line-through;
}

/* main */

/* sidebar */
main .breadcrumb {
    background-color: #f3f3f3;
    padding: 13px 0;
}

main .breadcrumb ol {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0 10px;
    font-size: 13px;
}

.breadcrumb ol>li+li:before {
    padding: 0 3px;
    color: #ccc;
    content: "/\00a0";
}

main .breadcrumb ol li a {
    text-decoration: none;
    color: #5a5a5a;
    padding-right: 5px;
}

main .breadcrumb ol li span {
    color: #777;
}

/* menu */
main .collections-body {
    overflow: hidden; /* Ẩn cuộn */
    align-items: flex-start; /* Không kéo dài các thẻ div con */
}

main .sidebar {
    margin-top: 50px;
    padding: 0 15px 0 30px;
}

@media (max-width: 1000px){
    main .sidebar {
        margin-top: 30px;
        padding: 0 30px 0 30px;
    }

    .box-product{
        margin-top: 30px;
    }
}

main .sidebar .title-sidebar {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f3f3f3;
    font-size: 13px;
    font-weight: 600;
    position: relative;
}

main .sidebar .title-sidebar i {
    position: absolute;
    right: 0;
    margin-right: 10px;
    top: 50%; /* Căn giữa theo chiều dọc */
    transform: translateY(-50%); /* Dịch chuyển lên giữa */
}

main .group-menu ul {
    list-style-type: none;
    font-size: 13px;
    letter-spacing: 2px; /* dãn chữ trên dòng */
}

main .group-menu ul li {
    margin-bottom: 14px;
}

main .item-filter:hover {
    cursor: pointer;
}

main .collections-body .item-filter i {
    font-weight: 600;
}

main .none-block {
    display: none;
}

main .group-menu ul a{
    text-decoration: none;
    color: inherit; /* Giữ màu chữ như của văn bản xung quanh */
}

main .product-filter {
    padding: 15px 0 0 15px;
    letter-spacing: 0 !important;
    color: #666;
}


/* filter */

/* filer -> brand, price */
.group-filter .filter-title {
    font-size: 13px;
    font-weight: 600;
    color: #3c3c3c;
    padding: 10px 0;
    margin-bottom: 10px;
}

.group-filter ul {
    list-style-type: none;
}

.group-filter ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.group-filter ul li label {
    font-size: 12px;
    color: #5f5f5f;
    margin-left: 5px;
}

/* filter -> size */
.group-filter table {
    margin-bottom: 10px;
}

.group-filter table th {
    font-size: 15px;
}

.group-filter table th, td {
    border: none;
    padding: 2px 10px 2px 0;
    text-align: center;
}

/* phân trang */
.pagination {
    display: flex;
    list-style: none;
    padding-top: 15px;
    right: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination li span,
.pagination li a {
    text-decoration: none;
    padding: 5px 10px;
    color: #b4b4b4;
    border-radius: 5px;
}

.pagination li a:hover {
    color: #000;
}

.pagination .active a {
    color: #000;
}
