<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/Products.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <header class="grid">
            <div class="header-mid row">
                <div class="col l-6 l-o-3 m-8 m-o-2 c-9 title">
                    <h1>Online Sport Store</h1>
                    <p>Hàng chính hãng giá tốt</p>
                </div>
                <div class="header-wrap-icon col l-2 l-o-1 m-2 c-3 row">
                    <a th:href="@{/neekine/login}" class="ti-user l-3 l-o-3 m-0 c-0"></a>
                    <span class="ti-search l-3 m-0 c-0"></span>
                    <span class="ti-shopping-cart l-3 m-3 c-3 phone-icon-12"></span>
                    <span class="ti-menu l-0 m-9 c-9 phone-icon-12">
                        <p class="phone-icon-0">MENU</p>
                    </span>
                </div>
            </div>
            <div class="menu-desktop">
                <ul class="row">
                    <li class="col l-1-3 l-o-1 m-0 c-0">
                        <a th:href="@{/neekine}" class="current-page">TRANG CHỦ</a>
                    </li>
                    <li class="col l-1-5 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/all}">TẤT CẢ SẢN PHẨM</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                            <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                            <li><a th:href="@{/neekine}">Air Jordan</a></li>
                            <li><a th:href="@{/neekine}">adidas Adilette 22</a></li>
                            <li><a th:href="@{/neekine}">adidas Samba</a></li>
                            <li><a th:href="@{/neekine}">adidas Gazelle</a></li>
                            <li><a th:href="@{/neekine}">adidas Campus</a></li>
                            <li><a th:href="@{/neekine}">adidas Stan Smith</a></li>
                            <li><a th:href="@{/neekine}">adidas UltraBOOST</a></li>
                            <li><a th:href="@{/neekine}">adidas NMD</a></li>
                            <li><a th:href="@{/neekine}">New Balance 530</a></li>
                            <li><a th:href="@{/neekine}">New Balance 550</a></li>
                            <li><a th:href="@{/neekine}">Reebok Club C</a></li>
                            <li><a th:href="@{/neekine}">aReebok Court Advance</a></li>
                            <li><a th:href="@{/neekine}">YEEZY</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/shoes}">GIÀY</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Giày Nike</a></li>
                            <li><a th:href="@{/neekine}">Giày adidas</a></li>
                            <li><a th:href="@{/neekine}">Giày New Balance</a></li>
                            <li><a th:href="@{/neekine}">Giày Reebok</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/sandal}">DÉP</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Dép adidas</a></li>
                            <li><a th:href="@{/neekine}">Dép Nike</a></li>
                            <li><a th:href="@{/neekine}">Dép Puma</a></li>
                            <li><a th:href="@{/neekine}">Dép Crocs</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/clothes}">QUẦN/ÁO</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">OSS MERCHANDISE</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Nike</a></li>
                            <li><a th:href="@{/neekine}">Quần áo adidas</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Reebok</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Uniqlo</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Puma</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Champion</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Ralph Lauren</a></li>
                            <li><a th:href="@{/neekine}">Quần áo G-Star</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Fred Perry</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Lacoste</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Under Armour</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/bag}">BALO/TÚI</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Balo/túi Nike</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Herschel</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi FRONT</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi The North Face</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Patagonia</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi adidas</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Coach</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Michael Kors</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi KENZO</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TIN TỨC</a>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TUYỂN DỤNG</a>
                    </li>
                </ul>
            </div>
            
            <form th:action="@{/neekine}" class="search-box row l-0">
                <input type="text" id="searchInput-1" placeholder="Tìm kiếm sản phẩm..." class="col m-11 c-11">
                <button class="m-1 c-1"><i class="ti-search"></i></button>
            </form>
            <div class="content-search" id="search-1">
                <!-- search result -->
            </div>
        </header>
        <main class="grid">
            <!-- sidebar -->
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a th:href="@{/neekine}">Trang chủ</a>
                    </li>
                    <li>
                        <a th:href="@{/neekine/products}">Danh mục</a>
                    </li>
                    <li class="active">
                        <span>Bag</span>
                    </li>
                </ol>
            </div>
            <div class="collections-body row">
                <!-- sidebar -->
                <div class="sidebar col l-3 m-12 c-12">
                    <!-- menu -->
                    <div class="group-menu row">
                        <div class="title-sidebar col l-0 m-12 c-12">
                            <p>DANH MỤC SẢN PHẨM</p>
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                        <ul class="body-sidebar-filter col l-12 m-12 c-12">
                            <li>
                                <a th:href="@{/neekine}">TRANG CHỦ</a>
                            </li>
                            <li>
                                <span class="item-filter">TẤT CẢ SẢN PHẨM 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                                    <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                                    <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                                    <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                                    <li><a th:href="@{/neekine}">Air Jordan</a></li>
                                    <li><a th:href="@{/neekine}">adidas Adilette 22</a></li>
                                    <li><a th:href="@{/neekine}">adidas Samba</a></li>
                                    <li><a th:href="@{/neekine}">adidas Gazelle</a></li>
                                    <li><a th:href="@{/neekine}">adidas Campus</a></li>
                                    <li><a th:href="@{/neekine}">adidas Stan Smith</a></li>
                                    <li><a th:href="@{/neekine}">adidas UltraBOOST</a></li>
                                    <li><a th:href="@{/neekine}">adidas NMD</a></li>
                                    <li><a th:href="@{/neekine}">New Balance 530</a></li>
                                    <li><a th:href="@{/neekine}">New Balance 550</a></li>
                                    <li><a th:href="@{/neekine}">Reebok Club C</a></li>
                                    <li><a th:href="@{/neekine}">aReebok Court Advance</a></li>
                                    <li><a th:href="@{/neekine}">YEEZY</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">GIÀY 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Giày Nike</a></li>
                                    <li><a th:href="@{/neekine}">Giày adidas</a></li>
                                    <li><a th:href="@{/neekine}">Giày New Balance</a></li>
                                    <li><a th:href="@{/neekine}">Giày Reebok</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">DÉP 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Dép adidas</a></li>
                                    <li><a th:href="@{/neekine}">Dép Nike</a></li>
                                    <li><a th:href="@{/neekine}">Dép Puma</a></li>
                                    <li><a th:href="@{/neekine}">Dép Crocs</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">QUẦN/ÁO 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">OSS MERCHANDISE</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Nike</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo adidas</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Reebok</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Uniqlo</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Puma</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Champion</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Ralph Lauren</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo G-Star</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Fred Perry</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Lacoste</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Under Armour</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">BALO/TÚI 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Balo/túi Nike</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Herschel</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi FRONT</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi The North Face</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Patagonia</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi adidas</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Coach</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Michael Kors</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi KENZO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- filter -->
                    <div class="filter-products row">
                        <div class="title-sidebar col l-0 m-12 c-12">
                            <p>BỘ LỌC SẢN PHẨM</p>
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                        <div class="body-sidebar-filter block-content col l-12 m-12 c-12">
                            <!-- filter/brand -->
                            <div class="group-filter">
                                <div class="filter-title">
                                    <span class="item-filter">THƯƠNG HIỆU 
                                        <i class="ti-angle-double-down none-block"></i>
                                        <i class="ti-angle-double-up"></i>
                                    </span>
                                </div>
                                <ul class="body-item-filter">
                                    <li>
                                        <input type="checkbox" id="checkbox_1" name="brand" value="nike">
                                        <label for="checkbox_1">Nike</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_2" name="brand" value="adidas">
                                        <label for="checkbox_2">adidas</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_3" name="brand" value="newBalance">
                                        <label for="checkbox_3">New Balance</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_4" name="brand" value="reebok">
                                        <label for="checkbox_4">Reebok</label>
                                    </li>
                                </ul>
                            </div>
                            <!-- filter/price -->
                            <div class="group-filter">
                                <div class="filter-title">
                                    <span class="item-filter">GIÁ SẢN PHẨM  
                                        <i class="ti-angle-double-down none-block"></i>
                                        <i class="ti-angle-double-up"></i>
                                    </span>
                                </div>
                                <ul class="body-item-filter">
                                    <li>
                                        <input type="checkbox" id="checkbox_5" name="price" value="under_500">
                                        <label for="checkbox_5">Dưới 500,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_6" name="price" value="500_to_1000">
                                        <label for="checkbox_6">500,000₫ - 1,000,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_7" name="price" value="1000_to_2000">
                                        <label for="checkbox_7">1,000,000₫ - 2,000,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_8" name="price" value="2000_to_5000">
                                        <label for="checkbox_8">2,000,000₫ - 5,000,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_9" name="price" value="above_5000">
                                        <label for="checkbox_9">Trên 5,000,000₫</label>
                                    </li>
                                </ul>
                            </div>
                            <!-- filter/size -->
                            <div class="group-filter">
                                <div class="filter-title">
                                    <span class="item-filter">KÍCH THƯỚC 
                                        <i class="ti-angle-double-down none-block"></i>
                                        <i class="ti-angle-double-up"></i>
                                    </span>
                                </div>
                                <div class="body-item-filter">
                                    <!-- clothes -->
                                    <table id="sizeClothes">
                                        <thead>
                                            <tr>
                                                <th>S</th>
                                                <th>M</th>
                                                <th>L</th>
                                                <th>XL</th>
                                                <th>XXL</th>
                                                <th>4Xl</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" id="size_1" name="size" value="S"></td>
                                                <td><input type="checkbox" id="size_2" name="size" value="M"></td>
                                                <td><input type="checkbox" id="size_3" name="size" value="L"></td>
                                                <td><input type="checkbox" id="size_4" name="size" value="XL"></td>
                                                <td><input type="checkbox" id="size_5" name="size" value="XXL"></td>
                                                <td><input type="checkbox" id="size_6" name="size" value="4XL"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- sneacker -->
                                    <table id="sizeShoes">
                                        <thead>
                                            <tr>
                                                <th>36</th>
                                                <th>37</th>
                                                <th>38</th>
                                                <th>39</th>
                                                <th>40</th>
                                                <th>41</th>
                                                <th>42</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" id="size_7" name="size" value="36"></td>
                                                <td><input type="checkbox" id="size_8" name="size" value="37"></td>
                                                <td><input type="checkbox" id="size_9" name="size" value="38"></td>
                                                <td><input type="checkbox" id="size_10" name="size" value="39"></td>
                                                <td><input type="checkbox" id="size_11" name="size" value="40"></td>
                                                <td><input type="checkbox" id="size_12" name="size" value="41"></td>
                                                <td><input type="checkbox" id="size_13" name="size" value="42"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product -->
                <div class="col l-9 m-12 c-12 row box-product">
                    
                </div>
                
                <!-- phân trang -->
                <div class="col l-3 l-o-9 m-3 c-3">
                    <ul class="pagination">
                        
                    </ul>
                </div>
            </div>
        </main>
        <footer class="grid">
            <div class="top-footer row"> 
                <div class="receive-email col l-9 m-12 c-12 row">
                    <div class="email-text col l-3 m-12 c-12">
                        <i class="ti-email"></i>
                        <p>Đăng ký nhận tin</p>
                    </div>
                    <form th:action="@{/neekine}" class="input-email col l-9 m-12 c-12 row">
                        <input type="text" placeholder="Nhập email của bạn">
                        <button>ĐĂNG KÝ</button>
                    </form>
                </div>
                <div class="infor-store col l-3 m-12 c-12 row">
                    <div class="phone-number col l-12 m-3 c-12">
                        <i class="ti-headphone-alt"></i>
                        <p>Hỗ trợ: 0999999999</p>
                    </div>
                    <div class="email col l-12 m-3 c-12">
                        <a th:href="@{/neekine}">Kien12045@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="main-footer row">
                <div class="introduce col l-5 l-o-1 m-5 m-o-1 c-11 c-o-1">
                    <h2>Gới thiệu</h2>
                    <p>
                        Online Sport Store là địa chỉ uy tín cho những người yêu thể thao 
                        và phong cách sống năng động. Chúng tôi cung cấp sản phẩm 
                        chính hãng từ các thương hiệu hàng đầu như Nike, Adidas, Puma 
                        và nhiều thương hiệu nổi tiếng khác. Sản phẩm của chúng tôi bao 
                        gồm giày chạy bộ, giày đá bóng, giày tập gym, trang phục thể
                        thao và phụ kiện như balo, túi xách, nón, tất. Online Sport Store 
                        cam kết chất lượng, đảm bảo hàng chính hãng và mang đến 
                        trải nghiệm mua sắm tuyệt vời cùng dịch vụ hậu mãi chu đáo. 
                        Hãy đến với chúng tôi để nâng cao phong cách và hiệu suất thể 
                        thao của bạn!
                    </p>
                </div>
                <div class="contact col l-5 l-o-1 m-5 m-o-1 c-11 c-o-1">
                    <h2>Thông tin liên hệ</h2>
                    <span class="ti-location-pin"><p>110 Đ. Trần Duy Hưng, Hà Nội</p></span>
                    <span class="ti-headphone-alt"><p>0999999999</p></span>
                    <span class="ti-email"><p>Kien12045@gmail.com</p></span>
                    <span class="ti-facebook">
                        <a href="https://www.facebook.com/profile.php?id=100049780284291">Neekine</a>
                    </span>
                </div>
            </div>

            <div class="bottom-footer">
                <p>Copyright © 2024 Online Sport Store.</p>
            </div>
        </footer>
    </div>

    <!-- search for pc -->
    <div class="body-search-pc">
        <div class="header-search">
            <p>Tìm kiếm</p>
            <i class="ti-close close-search-pc"></i>
        </div>
        <div class="search-box search-pc">
            <form th:action="@{/neekine}" class="row">
                <input type="text" id="searchInput-2" placeholder="Tìm kiếm sản phẩm..." class="col l-10 m-10 c-10">
                <button class="col l-2 m-2 c-2"><i class="ti-search"></i></button>
            </form>
            <div class="content-search grid" id="search-2">
                <!-- search result -->
            </div>
        </div>
    </div>

    <!-- cart -->
    <div class="body-cart">
        <div class="header-cart">
            <p>Giỏ hàng</p>
            <i class="ti-close close-cart"></i>
        </div>
        <div class="cart-box">
            <table id="cart-view">
                <tbody class="content-cart">
                
                </tbody>
            </table>
            <div class="total-cost">
            </div>
            <div class="button-box row">
                <button class="col l-o-1 l-4 m-o-1 m-4 c-o-1 c-5"><a th:href="@{/neekine/cart}" class="check-cart">XEM GIỎ HÀNG</a></button>
                <button class="col l-o-2 l-4 m-o-2 m-4 c-o-1 c-5"><a th:href="@{/neekine/checkout}" class="checkout">THANH TOÁN</a></button>
            </div>
        </div>
    </div>

    <!-- menu for tablet & mobile -->
    <div class="body-menu">
        <div class="header-menu">
            <p>Menu</p>
            <i class="ti-close close-menu"></i>
        </div>
        <div class="menu-box">
            <ul class="body-sidebar ">
                <li>
                    <a th:href="@{/neekine}">TRANG CHỦ</a>
                </li>
                <li>
                    <div class="title-item-menu">
                        <a th:href="@{/neekine/collections/all}" class="item-filter">TẤT CẢ SẢN PHẨM 
                        </a>
                        <div class="icon-box">
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                    </div>
                    <ul class="body-item-filter product-filter none-block">
                        <li><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                        <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                        <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                        <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                        <li><a th:href="@{/neekine}">Air Jordan</a></li>
                        <li><a th:href="@{/neekine}">adidas Adilette 22</a></li>
                        <li><a th:href="@{/neekine}">adidas Samba</a></li>
                        <li><a th:href="@{/neekine}">adidas Gazelle</a></li>
                        <li><a th:href="@{/neekine}">adidas Campus</a></li>
                        <li><a th:href="@{/neekine}">adidas Stan Smith</a></li>
                        <li><a th:href="@{/neekine}">adidas UltraBOOST</a></li>
                        <li><a th:href="@{/neekine}">adidas NMD</a></li>
                        <li><a th:href="@{/neekine}">New Balance 530</a></li>
                        <li><a th:href="@{/neekine}">New Balance 550</a></li>
                        <li><a th:href="@{/neekine}">Reebok Club C</a></li>
                        <li><a th:href="@{/neekine}">aReebok Court Advance</a></li>
                        <li><a th:href="@{/neekine}">YEEZY</a></li>
                    </ul>
                </li>
                <li>
                    <div class="title-item-menu">
                        <a th:href="@{/neekine/collections/shoes}" class="item-filter">GIÀY 
                        </a >
                        <div class="icon-box">
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                    </div>
                    <ul class="body-item-filter product-filter none-block">
                        <li><a th:href="@{/neekine}">Giày Nike</a></li>
                        <li><a th:href="@{/neekine}">Giày adidas</a></li>
                        <li><a th:href="@{/neekine}">Giày New Balance</a></li>
                        <li><a th:href="@{/neekine}">Giày Reebok</a></li>
                    </ul>
                </li>
                <li>
                    <div class="title-item-menu">
                        <a th:href="@{/neekine/collections/sandal}" class="item-filter">DÉP 
                        </a>
                        <div class="icon-box">
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                    </div>
                    <ul class="body-item-filter product-filter none-block">
                        <li><a th:href="@{/neekine}">Dép adidas</a></li>
                        <li><a th:href="@{/neekine}">Dép Nike</a></li>
                        <li><a th:href="@{/neekine}">Dép Puma</a></li>
                        <li><a th:href="@{/neekine}">Dép Crocs</a></li>
                    </ul>
                </li>
                <li>
                    <div class="title-item-menu">
                        <a th:href="@{/neekine/collections/clothes}" item-filter>QUẦN/ÁO</a>
                        <div class="icon-box">
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                    </div>
                    <ul class="body-item-filter product-filter none-block">
                        <li><a th:href="@{/neekine}">OSS MERCHANDISE</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Nike</a></li>
                        <li><a th:href="@{/neekine}">Quần áo adidas</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Reebok</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Uniqlo</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Puma</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Champion</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Ralph Lauren</a></li>
                        <li><a th:href="@{/neekine}">Quần áo G-Star</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Fred Perry</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Lacoste</a></li>
                        <li><a th:href="@{/neekine}">Quần áo Under Armour</a></li>
                    </ul>
                </li>
                <li>
                    <div class="title-item-menu">
                        <a th:href="@{/neekine/collections/bag}" class="item-filter">BALO/TÚI 
                        </a>
                        <div class="icon-box">
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                    </div>
                    <ul class="body-item-filter product-filter none-block">
                        <li><a th:href="@{/neekine}">Balo/túi Nike</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi Herschel</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi FRONT</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi The North Face</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi Patagonia</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi adidas</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi Coach</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi Michael Kors</a></li>
                        <li><a th:href="@{/neekine}">Balo/túi KENZO</a></li>
                    </ul>
                </li>
                <li>
                    <a th:href="@{/neekine}">TIN TỨC</a>
                </li>
                <li>
                    <a th:href="@{/neekine}">TUYỂN DỤNG</a>
                </li>
            </ul>
        </div>
    </div>
</body>
<script th:src="@{/js/Products.js}"></script>
</html>