<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/Cart.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <!-- Chèn fragment header -->
        <div th:replace="fragments/common :: header"></div>

        <main class="grid">
            <!-- sidebar -->
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a th:href="@{/neekine}">Trang chủ</a>
                    </li>
                    <li class="active">
                        <span>Giỏ hàng</span>
                    </li>
                </ol>
            </div>

            <!-- content -->
            <div class="body-content-cart">
                <div class="head-cart">
                    <h1>Giỏ hàng của bạn</h1>
                    <p class="count-products-cart"></p>
                </div>

                <div class="body-page-cart">

                </div>
            </div>
            
        </main>
        <!-- Chèn fragment footer -->
        <div th:replace="fragments/common :: footer"></div>
    </div>

    <!-- search for pc -->
    <div th:replace="fragments/common :: search"></div>

    <!-- cart -->
    <div class="body-cart">
        <div class="header-cart">
            <p>Giỏ hàng</p>
            <i class="ti-close close-cart"></i>
        </div>
        <div class="cart-box">
            <table id="cart-view">
                <tbody class="content-cart">
                
                </tbody>
            </table>
            <div class="total-cost">
            </div>
            <div class="button-box row">
                <button class="col l-o-1 l-4 m-o-1 m-4 c-o-1 c-5"><a th:href="@{/neekine/cart}" class="check-cart">XEM GIỎ HÀNG</a></button>
                <button class="col l-o-2 l-4 m-o-2 m-4 c-o-1 c-5"><a th:href="@{/neekine/checkout}" class="checkout">THANH TOÁN</a></button>
            </div>
        </div>
    </div>

    <!-- menu for tablet & mobile -->
    <div th:replace="fragments/common :: menu"></div>
</body>
<script th:src="@{/js/Cart.js}"></script>
<script th:src="@{/js/Common.js}"></script>
</html>