<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/DetailsProduct.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <!-- Chèn fragment header -->
        <div th:replace="fragments/common :: header"></div>

        <main class="grid">
            <!-- sidebar -->
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a th:href="@{/neekine}">Trang chủ</a>
                    </li>
                    <li>
                        <a th:href="@{/neekine/products}">Sneaker</a>
                    </li>
                    <li class="active">
                        <span th:text="${product.ten}"></span>
                    </li>
                </ol>
            </div>

            <!-- content -->
            <div class="body-product row">
                <div class="images-product col l-8 m-12 c-12">
                    <div class="images-product row">
                        <div class="list-img col l-2 l-o-1 m-12 c-12">
                            <div class="row">
                                <div class="item-img col l-6 m-0 c-0" th:each="img : ${product.photoNames}">
                                    <img th:src="'/images/' + ${img}" alt="">
                                </div>
                            </div>

                            <div class="container l-0">
                                <div class="item" th:each="img : ${product.photoNames}">
                                    <img th:src="'/images/' + ${img}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="main-img col l-9 m-0 c-0">
                            <img id="mainImage" th:src="'/images/' + ${product.photoNames[0]}" alt="Main Image">
                        </div>
                    </div>
                </div>
                <div class="info-product col l-4 m-12 c-12">
                    <!-- name -->
                    <div class="partial">
                        <p th:text="${product.ten}" id="nameProduct"></p>
                    </div>

                    <!-- promotion & price -->
                    <div class="partial">
                        <span th:if="${product.phan_tram != 0}" th:text="${product.phan_tram} + '%'" class="percent"></span>
                        <span th:if="${product.phan_tram != 0}" th:text="${((1 - product.phan_tram / 100.0) * product.gia_ban).intValue()} + '₫'" class="price"></span>
                        <span th:if="${product.phan_tram != 0}" th:text="${product.gia_ban} + '₫'" class="old-price"></span>

                        <span th:if="${product.phan_tram == 0}" th:text="${product.gia_ban} + '₫'" class="price"></span>
                    </div>

                    <form id="add-to-cart-form">
                        <!-- sizes -->
                        <div class="partial row" th:if="${!product.kich_thuoc.equals('0')}">
                            <div class="col l-3 m-2 c-2 sizeProduct" th:each="size : ${sizes}">
                                <input type="button" th:value="${size}" class="size">
                            </div>
                        </div>
                        <div th:if="${product.kich_thuoc.equals('0')}">
                            <input type="hidden" id="size">
                        </div>

                        <!-- Choose quantity -->
                        <div class="quantity-area">
                            <input type="button" value="-" onclick="minusQuantity()">
                            <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                            <input type="button" value="+" onclick="plusQuantity()">
                        </div>

                        <!-- add cart -->
                        <div class="add-cart">
                            <button type="submit">THÊM VÀO GIỎ</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- related products -->
            <div class="related-products">
                <h2>SẢN PHẨM LIÊN QUAN</h2>
                <div class="box-product row">
                    <div class="col l-2-4 m-6 c-6 product" th:each="product: ${relatedProducts}">
                        <div class="product-item">
                            <a th:href="@{'/neekine/products/' + ${product.namePathProduct}}">
                                <div class="product-img">
                                    <span class="percent" th:if="${product.phan_tram != 0}" th:text="${product.phan_tram} + '%'"></span>
                                    <img th:src="'/images/' + ${product.photoNames[0]}" alt="" class="first-img">
                                    <img th:src="'/images/' + ${product.photoNames[1]}" alt="" class="second-img">
                                </div>
                                <p th:text="${product.ten}"></p>
                            </a> 
                            <div class="cost">
                                <span th:if="${product.phan_tram != 0}" th:text="${((1 - product.phan_tram / 100.0) * product.gia_ban).intValue()} + '₫'" class="new-price"></span>
                                <span th:if="${product.phan_tram != 0}" th:text="${product.gia_ban} + '₫'" class="old-price"></span>

                                <span th:if="${product.phan_tram == 0}" th:text="${product.gia_ban} + '₫'" class="price"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
        <!-- Chèn fragment footer -->
        <div th:replace="fragments/common :: footer"></div>
    </div>

    <!-- search for pc -->
    <div th:replace="fragments/common :: search"></div>

    <!-- cart -->
    <div th:replace="fragments/common :: cart"></div>

    <!-- menu for tablet & mobile -->
    <div th:replace="fragments/common :: menu"></div>
</body>
<script th:src="@{/js/DetailsProduct.js}"></script>
<script th:src="@{/js/Common.js}"></script>
</html>