<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/DetailsProduct.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <header class="grid">
            <div class="header-mid row">
                <div class="col l-6 l-o-3 m-8 m-o-2 c-9 title">
                    <h1>Online Sport Store</h1>
                    <p>Hàng chính hãng giá tốt</p>
                </div>
                <div class="header-wrap-icon col l-2 l-o-1 m-2 c-3 row">
                    <a th:href="@{/neekine/login}" class="ti-user l-3 l-o-3 m-0 c-0"></a>
                    <span class="ti-search l-3 m-0 c-0"></span>
                    <span class="ti-shopping-cart l-3 m-3 c-3 phone-icon-12"></span>
                    <span class="ti-menu l-0 m-9 c-9 phone-icon-12">
                        <p class="phone-icon-0">MENU</p>
                    </span>
                </div>
            </div>
            <div class="menu-desktop">
                <ul class="row">
                    <li class="col l-1-3 l-o-1 m-0 c-0">
                        <a th:href="@{/neekine}">TRANG CHỦ</a>
                    </li>
                    <li class="col l-1-5 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/all}">TẤT CẢ SẢN PHẨM</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                            <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                            <li><a th:href="@{/neekine}">Air Jordan</a></li>
                            <li><a th:href="@{/neekine}">adidas Adilette 22</a></li>
                            <li><a th:href="@{/neekine}">adidas Samba</a></li>
                            <li><a th:href="@{/neekine}">adidas Gazelle</a></li>
                            <li><a th:href="@{/neekine}">adidas Campus</a></li>
                            <li><a th:href="@{/neekine}">adidas Stan Smith</a></li>
                            <li><a th:href="@{/neekine}">adidas UltraBOOST</a></li>
                            <li><a th:href="@{/neekine}">adidas NMD</a></li>
                            <li><a th:href="@{/neekine}">New Balance 530</a></li>
                            <li><a th:href="@{/neekine}">New Balance 550</a></li>
                            <li><a th:href="@{/neekine}">Reebok Club C</a></li>
                            <li><a th:href="@{/neekine}">aReebok Court Advance</a></li>
                            <li><a th:href="@{/neekine}">YEEZY</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/shoes}">GIÀY</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Giày Nike</a></li>
                            <li><a th:href="@{/neekine}">Giày adidas</a></li>
                            <li><a th:href="@{/neekine}">Giày New Balance</a></li>
                            <li><a th:href="@{/neekine}">Giày Reebok</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/sandal}">DÉP</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Dép adidas</a></li>
                            <li><a th:href="@{/neekine}">Dép Nike</a></li>
                            <li><a th:href="@{/neekine}">Dép Puma</a></li>
                            <li><a th:href="@{/neekine}">Dép Crocs</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/clothes}">QUẦN/ÁO</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">OSS MERCHANDISE</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Nike</a></li>
                            <li><a th:href="@{/neekine}">Quần áo adidas</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Reebok</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Uniqlo</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Puma</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Champion</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Ralph Lauren</a></li>
                            <li><a th:href="@{/neekine}">Quần áo G-Star</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Fred Perry</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Lacoste</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Under Armour</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/bag}">BALO/TÚI</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Balo/túi Nike</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Herschel</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi FRONT</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi The North Face</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Patagonia</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi adidas</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Coach</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Michael Kors</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi KENZO</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TIN TỨC</a>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TUYỂN DỤNG</a>
                    </li>
                </ul>
            </div>
            
            <form th:action="@{/neekine}" class="search-box row l-0">
                <input type="text" id="searchInput-1" placeholder="Tìm kiếm sản phẩm..." class="col m-11 c-11">
                <button class="m-1 c-1"><i class="ti-search"></i></button>
            </form>
            <div class="content-search" id="search-1">
                <!-- search result -->
            </div>
        </header>
        <main class="grid">
            <!-- sidebar -->
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a th:href="@{/neekine}">Trang chủ</a>
                    </li>
                    <li>
                        <a th:href="@{/neekine/products}">Sneaker</a>
                    </li>
                    <li class="active">
                        <span th:text="${product.ten}"></span>
                    </li>
                </ol>
            </div>

            <!-- content -->
            <div class="content-product row">
                <div class="images-product col l-8 m-12 c-12">
                    <div class="images-product row">
                        <div class="list-img col l-2 l-o-1 m-12 c-12">
                            <div class="row">
                                <div class="item-img col l-6 m-0 c-0" th:each="img : ${product.photoNames}">
                                    <img th:src="'/images/' + ${img}" alt="">
                                </div>
                            </div>

                            <div class="container l-0">
                                <div class="item" th:each="img : ${product.photoNames}">
                                    <img th:src="'/images/' + ${img}" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="main-img col l-9 m-0 c-0">
                            <img id="mainImage" th:src="'/images/' + ${product.photoNames[0]}" alt="Main Image">
                        </div>
                    </div>
                </div>
                <div class="info-product col l-4 m-12 c-12">
                    <!-- name -->
                    <div class="partial">
                        <p th:text="${product.ten}" id="nameProduct"></p>
                    </div>

                    <!-- promotion & price -->
                    <div class="partial">
                        <span th:if="${product.phan_tram != 0}" th:text="${product.phan_tram} + '%'" class="percent"></span>
                        <span th:if="${product.phan_tram != 0}" th:text="${((1 - product.phan_tram / 100.0) * product.gia_ban).intValue()} + '₫'" class="price"></span>
                        <span th:if="${product.phan_tram != 0}" th:text="${product.gia_ban} + '₫'" class="old-price"></span>

                        <span th:if="${product.phan_tram == 0}" th:text="${product.gia_ban} + '₫'" class="price"></span>
                    </div>

                    <form id="add-to-cart-form">
                        <!-- sizes -->
                        <div class="partial" th:if="${product.kich_thuoc != null}">
                            <div class="col l-3 m-2 c-2" th:each="size : ${sizes}">
                                <input type="button" th:value="${size}" class="size">
                            </div>
                        </div>

                        <!-- Choose quantity -->
                        <div class="quantity-area">
                            <input type="button" value="-" onclick="minusQuantity()">
                            <input type="text" id="quantity" name="quantity" value="1" min="1" class="quantity-selector">
                            <input type="button" value="+" onclick="plusQuantity()">
                        </div>

                        <!-- add cart -->
                        <div class="add-cart">
                            <button type="submit">THÊM VÀO GIỎ</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- related products -->
            <div class="related-products">
                <h2>SẢN PHẨM LIÊN QUAN</h2>
                <div class="box-product row">
                    <div class="col l-2-4 m-6 c-6 product" th:each="product: ${relatedProducts}">
                        <div class="product-item">
                            <a th:href="@{'/neekine/products/' + ${product.namePathProduct}}">
                                <div class="product-img">
                                    <span class="percent" th:if="${product.phan_tram != 0}" th:text="${product.phan_tram} + '%'"></span>
                                    <img th:src="'/images/' + ${product.photoNames[0]}" alt="" class="first-img">
                                    <img th:src="'/images/' + ${product.photoNames[1]}" alt="" class="second-img">
                                </div>
                                <p th:text="${product.ten}"></p>
                            </a> 
                            <div class="cost">
                                <span th:if="${product.phan_tram != 0}" th:text="${((1 - product.phan_tram / 100.0) * product.gia_ban).intValue()} + '₫'" class="new-price"></span>
                                <span th:if="${product.phan_tram != 0}" th:text="${product.gia_ban} + '₫'" class="old-price"></span>

                                <span th:if="${product.phan_tram == 0}" th:text="${product.gia_ban} + '₫'" class="price"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
        <footer class="grid">
            <div class="top-footer row"> 
                <div class="receive-email col l-9 m-12 c-12 row">
                    <div class="email-text col l-3 m-12 c-12">
                        <i class="ti-email"></i>
                        <p>Đăng ký nhận tin</p>
                    </div>
                    <form th:action="@{/neekine}" class="input-email col l-9 m-12 c-12 row">
                        <input type="text" placeholder="Nhập email của bạn">
                        <button>ĐĂNG KÝ</button>
                    </form>
                </div>
                <div class="infor-store col l-3 m-12 c-12 row">
                    <div class="phone-number col l-12 m-3 c-12">
                        <i class="ti-headphone-alt"></i>
                        <p>Hỗ trợ: 0999999999</p>
                    </div>
                    <div class="email col l-12 m-3 c-12">
                        <a th:href="@{/neekine}">Kien12045@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="main-footer row">
                <div class="introduce col l-5 l-o-1 m-5 m-o-1 c-11 c-o-1">
                    <h2>Gới thiệu</h2>
                    <p>
                        Online Sport Store là địa chỉ uy tín cho những người yêu thể thao 
                        và phong cách sống năng động. Chúng tôi cung cấp sản phẩm 
                        chính hãng từ các thương hiệu hàng đầu như Nike, Adidas, Puma 
                        và nhiều thương hiệu nổi tiếng khác. Sản phẩm của chúng tôi bao 
                        gồm giày chạy bộ, giày đá bóng, giày tập gym, trang phục thể
                        thao và phụ kiện như balo, túi xách, nón, tất. Online Sport Store 
                        cam kết chất lượng, đảm bảo hàng chính hãng và mang đến 
                        trải nghiệm mua sắm tuyệt vời cùng dịch vụ hậu mãi chu đáo. 
                        Hãy đến với chúng tôi để nâng cao phong cách và hiệu suất thể 
                        thao của bạn!
                    </p>
                </div>
                <div class="contact col l-5 l-o-1 m-5 m-o-1 c-11 c-o-1">
                    <h2>Thông tin liên hệ</h2>
                    <span class="ti-location-pin"><p>110 Đ. Trần Duy Hưng, Hà Nội</p></span>
                    <span class="ti-headphone-alt"><p>0999999999</p></span>
                    <span class="ti-email"><p>Kien12045@gmail.com</p></span>
                    <span class="ti-facebook">
                        <a href="https://www.facebook.com/profile.php?id=100049780284291">Neekine</a>
                    </span>
                </div>
            </div>

            <div class="bottom-footer">
                <p>Copyright © 2024 Online Sport Store.</p>
            </div>
        </footer>
    </div>

    <div class="body-search-pc">
        <div class="header-search">
            <p>Tìm kiếm</p>
            <i class="ti-close"></i>
        </div>
        <div class="search-box search-pc">
            <form th:action="@{/neekine}" class="row">
                <input type="text" id="searchInput-2" placeholder="Tìm kiếm sản phẩm..." class="col l-10 m-10 c-10">
                <button class="col l-2 m-2 c-2"><i class="ti-search"></i></button>
            </form>
            <div class="content-search grid" id="search-2">
                <!-- search result -->
            </div>
        </div>
    </div>
</body>
<script th:src="@{/js/DetailsProduct.js}"></script>
</html>