<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/Home.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <!-- Chèn fragment header -->
        <div th:replace="fragments/common :: header"></div>

        <main class="grid">
            <!-- slides -->
            <div class="slides row">
                <div class="home-banner col l-4 m-4 c-12">
                    <a th:href="@{/neekine}">
                        <img th:src="@{/images/ad-1.jpg}" alt="">
                    </a>
                </div>
                <div class="home-banner col l-4 m-4 c-12">
                    <a th:href="@{/neekine}">
                        <img th:src="@{/images/ad-2.jpg}" alt="">
                    </a>
                </div>
                <div class="home-banner col l-4 m-4 c-12">
                    <a th:href="@{/neekine}">
                        <img th:src="@{/images/ad-3.jpg}" alt="">
                    </a>
                </div>
            </div>

            <!-- nhom 1 -->
            <section class="grid">
                <h1>GIÀY CHÍNH HÃNG</h1>
                <div class="shoes">
                    <div class="box-product row"></div>
                    <div class="prev">
                        <i class="ti-angle-left"></i>
                    </div>
                    <div class="next">
                        <i class="ti-angle-right"></i>
                    </div>
                </div>
            </section>

            <!-- nhom 2 -->
            <section class="grid">
                <h1>BAOLO TÚI XÁCH CHÍNH HÃNG</h1>
                <div class="bag row"></div>
            </section>

            <!-- nhom 3 -->
            <section class="grid">
                <h1>QUẦN ÁO CHÍNH HÃNG</h1>
                <div class="clothes row"></div>
            </section>
        </main>
        <!-- Chèn fragment footer -->
        <div th:replace="fragments/common :: footer"></div>
    </div>

    <!-- search for pc -->
    <div th:replace="fragments/common :: search"></div>

    <!-- cart -->
    <div th:replace="fragments/common :: cart"></div>

    <!-- menu for tablet & mobile -->
    <div th:replace="fragments/common :: menu"></div>
</body>
<script th:src="@{/js/Home.js}"></script>
<script th:src="@{/js/Common.js}"></script>
</html>