<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/Login.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <header class="grid">
            <div class="header-mid row">
                <div class="col l-6 l-o-3 m-8 m-o-2 c-9 title">
                    <h1>Online Sport Store</h1>
                    <p>Hàng chính hãng giá tốt</p>
                </div>
                <div class="header-wrap-icon col l-2 l-o-1 m-2 c-3 row">
                    <a th:href="@{/neekine/login}" class="ti-user l-3 l-o-3 m-0 c-0"></a>
                    <span class="ti-search l-3 m-0 c-0"></span>
                    <span class="ti-shopping-cart l-3 m-3 c-3 phone-icon-12"></span>
                    <span class="ti-menu l-0 m-9 c-9 phone-icon-12">
                        <p class="phone-icon-0">MENU</p>
                    </span>
                </div>
            </div>
            <div class="menu-desktop">
                <ul class="row">
                    <li class="col l-1-3 l-o-1 m-0 c-0">
                        <a th:href="@{/neekine}" class="current-page">TRANG CHỦ</a>
                    </li>
                    <li class="col l-1-5 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/all}">TẤT CẢ SẢN PHẨM</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                            <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                            <li><a th:href="@{/neekine}">Air Jordan</a></li>
                            <li><a th:href="@{/neekine}">adidas Adilette 22</a></li>
                            <li><a th:href="@{/neekine}">adidas Samba</a></li>
                            <li><a th:href="@{/neekine}">adidas Gazelle</a></li>
                            <li><a th:href="@{/neekine}">adidas Campus</a></li>
                            <li><a th:href="@{/neekine}">adidas Stan Smith</a></li>
                            <li><a th:href="@{/neekine}">adidas UltraBOOST</a></li>
                            <li><a th:href="@{/neekine}">adidas NMD</a></li>
                            <li><a th:href="@{/neekine}">New Balance 530</a></li>
                            <li><a th:href="@{/neekine}">New Balance 550</a></li>
                            <li><a th:href="@{/neekine}">Reebok Club C</a></li>
                            <li><a th:href="@{/neekine}">aReebok Court Advance</a></li>
                            <li><a th:href="@{/neekine}">YEEZY</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/shoes}">GIÀY</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Giày Nike</a></li>
                            <li><a th:href="@{/neekine}">Giày adidas</a></li>
                            <li><a th:href="@{/neekine}">Giày New Balance</a></li>
                            <li><a th:href="@{/neekine}">Giày Reebok</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/sandal}">DÉP</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Dép adidas</a></li>
                            <li><a th:href="@{/neekine}">Dép Nike</a></li>
                            <li><a th:href="@{/neekine}">Dép Puma</a></li>
                            <li><a th:href="@{/neekine}">Dép Crocs</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/clothes}">QUẦN/ÁO</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">OSS MERCHANDISE</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Nike</a></li>
                            <li><a th:href="@{/neekine}">Quần áo adidas</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Reebok</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Uniqlo</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Puma</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Champion</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Ralph Lauren</a></li>
                            <li><a th:href="@{/neekine}">Quần áo G-Star</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Fred Perry</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Lacoste</a></li>
                            <li><a th:href="@{/neekine}">Quần áo Under Armour</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine/collections/bag}">BALO/TÚI</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Balo/túi Nike</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Herschel</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi FRONT</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi The North Face</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Patagonia</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi adidas</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Coach</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi Michael Kors</a></li>
                            <li><a th:href="@{/neekine}">Balo/túi KENZO</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TIN TỨC</a>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TUYỂN DỤNG</a>
                    </li>
                </ul>
            </div>
            
            <form th:action="@{/neekine}" class="search-box row l-0">
                <input type="text" id="searchInput-1" placeholder="Tìm kiếm sản phẩm..." class="col m-11 c-11">
                <button class="m-1 c-1"><i class="ti-search"></i></button>
            </form>
            <div class="content-search" id="search-1">
                <!-- search result -->
            </div>
        </header>

        <main class="box-login grid">
            <div class="row">
                <div class="title-login col l-6 m-12 c-12">
                    <p>Đăng nhập</p>
                </div>
                <form th:action="@{/authenticateTheUser}" class="form-login col l-6 m-12 c-12" method="post">
                    <div th:if="${param.error}" class="error-infor">
                        <p>Email hoặc mật khẩu không chính xác !</p>
                    </div>
                    <input type="text" id="username" name="username" th:value="${username}" placeholder="Email">
                    <input type="password" id="password" name="password" placeholder="Mật khẩu">
                    <div class="button">
                        <button type="submit">Đăng nhập</button>
                        <p><a th:href="@{/neekine}">Quên mật khẩu?<br></a> hoặc <a th:href="@{/neekine/account/register}">Đăng ký</a></p>
                    </div>
                    <div class="login-With-Google">
                        <i class="ti-google"></i>
                        <a href="/oauth2/authorization/google">Đăng nhập bằng Google</a>
                    </div>
                    <div class="login-With-Facebook">
                        <i class="ti-facebook"></i>
                        <a href="/oauth2/authorization/facebook">Đăng nhập bằng Facebook</a>
                    </div>
                </form>
            </div>
        </main>

        <!-- Chèn fragment footer -->
        <div th:replace="fragments/common :: footer"></div>
    </div>

    <!-- search for pc -->
    <div th:replace="fragments/common :: search"></div>

    <!-- cart -->
    <div th:replace="fragments/common :: cart"></div>

    <!-- menu for tablet & mobile -->
    <div th:replace="fragments/common :: menu"></div>
</body>
<script th:src="@{/js/Login.js}"></script>
<script th:src="@{/js/Common.js}"></script>
</html>