<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/Login.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <!-- Chèn fragment header -->
        <div th:replace="fragments/common :: header"></div>


        <main class="box-login grid">
            <div class="row">
                <div class="title-login col l-6 m-12 c-12">
                    <p>Đăng nhập</p>
                </div>
                <form th:action="@{/authenticateTheUser}" class="form-login col l-6 m-12 c-12" method="post">
                    <div th:if="${param.error}" class="error-infor">
                        <p>Email hoặc mật khẩu không chính xác !</p>
                    </div>
                    <input type="text" id="username" name="username" th:value="${username}" placeholder="Email">
                    <input type="password" id="password" name="password" placeholder="Mật khẩu">
                    <div class="button">
                        <button type="submit">Đăng nhập</button>
                        <p><a th:href="@{/neekine}">Quên mật khẩu?<br></a> hoặc <a th:href="@{/neekine/account/register}">Đăng ký</a></p>
                    </div>
                    <div class="login-With-Google">
                        <i class="ti-google"></i>
                        <a href="/oauth2/authorization/google">Đăng nhập bằng Google</a>
                    </div>
                </form>
            </div>
        </main>

        <!-- Chèn fragment footer -->
        <div th:replace="fragments/common :: footer"></div>
    </div>

    <!-- search for pc -->
    <div th:replace="fragments/common :: search"></div>

    <!-- cart -->
    <div th:replace="fragments/common :: cart"></div>

    <!-- menu for tablet & mobile -->
    <div th:replace="fragments/common :: menu"></div>
</body>
<script th:src="@{/js/Login.js}"></script>
<script th:src="@{/js/Common.js}"></script>
</html>