<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/Products.css}">
    <link rel="stylesheet" th:href="@{/css/Common.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <!-- Chèn fragment header -->
        <div th:replace="fragments/common :: header"></div>

        <main class="grid">
            <!-- sidebar -->
            <div class="breadcrumb">
                <ol>
                    <li>
                        <a th:href="@{/neekine}">Trang chủ</a>
                    </li>
                    <li>
                        <a th:href="@{/neekine/products}">Danh mục</a>
                    </li>
                    <li class="active">
                        <span>Tất cả sản phẩm</span>
                    </li>
                </ol>
            </div>
            <div class="collections-body row">
                <!-- sidebar -->
                <div class="sidebar col l-3 m-12 c-12">
                    <!-- menu -->
                    <div class="group-menu row">
                        <div class="title-sidebar col l-0 m-12 c-12">
                            <p>DANH MỤC SẢN PHẨM</p>
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                        <ul class="body-sidebar-filter col l-12 m-12 c-12">
                            <li>
                                <a th:href="@{/neekine}">TRANG CHỦ</a>
                            </li>
                            <li>
                                <span class="item-filter">TẤT CẢ SẢN PHẨM 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                                    <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                                    <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                                    <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                                    <li><a th:href="@{/neekine}">Air Jordan</a></li>
                                    <li><a th:href="@{/neekine}">adidas Adilette 22</a></li>
                                    <li><a th:href="@{/neekine}">adidas Samba</a></li>
                                    <li><a th:href="@{/neekine}">adidas Gazelle</a></li>
                                    <li><a th:href="@{/neekine}">adidas Campus</a></li>
                                    <li><a th:href="@{/neekine}">adidas Stan Smith</a></li>
                                    <li><a th:href="@{/neekine}">adidas UltraBOOST</a></li>
                                    <li><a th:href="@{/neekine}">adidas NMD</a></li>
                                    <li><a th:href="@{/neekine}">New Balance 530</a></li>
                                    <li><a th:href="@{/neekine}">New Balance 550</a></li>
                                    <li><a th:href="@{/neekine}">Reebok Club C</a></li>
                                    <li><a th:href="@{/neekine}">aReebok Court Advance</a></li>
                                    <li><a th:href="@{/neekine}">YEEZY</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">GIÀY 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Giày Nike</a></li>
                                    <li><a th:href="@{/neekine}">Giày adidas</a></li>
                                    <li><a th:href="@{/neekine}">Giày New Balance</a></li>
                                    <li><a th:href="@{/neekine}">Giày Reebok</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">DÉP 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Dép adidas</a></li>
                                    <li><a th:href="@{/neekine}">Dép Nike</a></li>
                                    <li><a th:href="@{/neekine}">Dép Puma</a></li>
                                    <li><a th:href="@{/neekine}">Dép Crocs</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">QUẦN/ÁO 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">OSS MERCHANDISE</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Nike</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo adidas</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Reebok</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Uniqlo</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Puma</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Champion</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Ralph Lauren</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo G-Star</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Fred Perry</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Lacoste</a></li>
                                    <li><a th:href="@{/neekine}">Quần áo Under Armour</a></li>
                                </ul>
                            </li>
                            <li>
                                <span class="item-filter">BALO/TÚI 
                                    <i class="ti-angle-double-down"></i>
                                    <i class="ti-angle-double-up none-block"></i>
                                </span>
                                <ul class="body-item-filter product-filter none-block">
                                    <li><a th:href="@{/neekine}">Balo/túi Nike</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Herschel</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi FRONT</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi The North Face</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Patagonia</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi adidas</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Coach</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi Michael Kors</a></li>
                                    <li><a th:href="@{/neekine}">Balo/túi KENZO</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- filter -->
                    <div class="filter-products row">
                        <div class="title-sidebar col l-0 m-12 c-12">
                            <p>BỘ LỌC SẢN PHẨM</p>
                            <i class="ti-angle-down"></i>
                            <i class="ti-angle-up none-block"></i>
                        </div>
                        <div class="body-sidebar-filter block-content col l-12 m-12 c-12">
                            <!-- filter/brand -->
                            <div class="group-filter">
                                <div class="filter-title">
                                    <span class="item-filter">THƯƠNG HIỆU 
                                        <i class="ti-angle-double-down none-block"></i>
                                        <i class="ti-angle-double-up"></i>
                                    </span>
                                </div>
                                <ul class="body-item-filter">
                                    <li>
                                        <input type="checkbox" id="checkbox_1" name="brand" value="nike">
                                        <label for="checkbox_1">Nike</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_2" name="brand" value="adidas">
                                        <label for="checkbox_2">adidas</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_3" name="brand" value="newBalance">
                                        <label for="checkbox_3">New Balance</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_4" name="brand" value="reebok">
                                        <label for="checkbox_4">Reebok</label>
                                    </li>
                                </ul>
                            </div>
                            <!-- filter/price -->
                            <div class="group-filter">
                                <div class="filter-title">
                                    <span class="item-filter">GIÁ SẢN PHẨM  
                                        <i class="ti-angle-double-down none-block"></i>
                                        <i class="ti-angle-double-up"></i>
                                    </span>
                                </div>
                                <ul class="body-item-filter">
                                    <li>
                                        <input type="checkbox" id="checkbox_5" name="price" value="under_500">
                                        <label for="checkbox_5">Dưới 500,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_6" name="price" value="500_to_1000">
                                        <label for="checkbox_6">500,000₫ - 1,000,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_7" name="price" value="1000_to_2000">
                                        <label for="checkbox_7">1,000,000₫ - 2,000,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_8" name="price" value="2000_to_5000">
                                        <label for="checkbox_8">2,000,000₫ - 5,000,000₫</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="checkbox_9" name="price" value="above_5000">
                                        <label for="checkbox_9">Trên 5,000,000₫</label>
                                    </li>
                                </ul>
                            </div>
                            <!-- filter/size -->
                            <div class="group-filter">
                                <div class="filter-title">
                                    <span class="item-filter">KÍCH THƯỚC 
                                        <i class="ti-angle-double-down none-block"></i>
                                        <i class="ti-angle-double-up"></i>
                                    </span>
                                </div>
                                <div class="body-item-filter">
                                    <!-- clothes -->
                                    <table id="sizeClothes">
                                        <thead>
                                            <tr>
                                                <th>S</th>
                                                <th>M</th>
                                                <th>L</th>
                                                <th>XL</th>
                                                <th>XXL</th>
                                                <th>4Xl</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" id="size_1" name="size" value="S"></td>
                                                <td><input type="checkbox" id="size_2" name="size" value="M"></td>
                                                <td><input type="checkbox" id="size_3" name="size" value="L"></td>
                                                <td><input type="checkbox" id="size_4" name="size" value="XL"></td>
                                                <td><input type="checkbox" id="size_5" name="size" value="XXL"></td>
                                                <td><input type="checkbox" id="size_6" name="size" value="4XL"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!-- sneacker -->
                                    <table id="sizeShoes">
                                        <thead>
                                            <tr>
                                                <th>36</th>
                                                <th>37</th>
                                                <th>38</th>
                                                <th>39</th>
                                                <th>40</th>
                                                <th>41</th>
                                                <th>42</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td><input type="checkbox" id="size_7" name="size" value="36"></td>
                                                <td><input type="checkbox" id="size_8" name="size" value="37"></td>
                                                <td><input type="checkbox" id="size_9" name="size" value="38"></td>
                                                <td><input type="checkbox" id="size_10" name="size" value="39"></td>
                                                <td><input type="checkbox" id="size_11" name="size" value="40"></td>
                                                <td><input type="checkbox" id="size_12" name="size" value="41"></td>
                                                <td><input type="checkbox" id="size_13" name="size" value="42"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- product -->
                <div class="col l-9 m-12 c-12 row box-product">
                    
                </div>
                
                <!-- phân trang -->
                <div class="col l-3 l-o-9 m-3 c-3">
                    <ul class="pagination">
                        
                    </ul>
                </div>
            </div>
        </main>
        <!-- Chèn fragment footer -->
        <div th:replace="fragments/common :: footer"></div>
    </div>

    <!-- search for pc -->
    <div th:replace="fragments/common :: search"></div>

    <!-- cart -->
    <div th:replace="fragments/common :: cart"></div>

    <!-- menu for tablet & mobile -->
    <div th:replace="fragments/common :: menu"></div>
</body>
<script th:src="@{/js/Products.js}"></script>
<script th:src="@{/js/Common.js}"></script>
</html>