<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neekine</title>
    <link rel="icon" type="image/jpg" th:href="@{/images/logo.jpg}">

    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/Grid-library.css}">
    <link rel="stylesheet" th:href="@{/css/Register.css}">
    <link rel="stylesheet" th:href="@{/themify-icons/themify-icons.css}">

</head>
<body class="grid">
    <div class="body-content ">
        <header class="grid">
            <div class="header-mid row">
                <div class="col l-6 l-o-3 m-8 m-o-2 c-9 title">
                    <h1>Online Sport Store</h1>
                    <p>Hàng chính hãng giá tốt</p>
                </div>
                <div class="header-wrap-icon col l-2 l-o-1 m-2 c-3 row">
                    <a th:href="@{/neekine/login}" class="ti-user l-3 l-o-3 m-0 c-0"></a>
                    <span class="ti-search l-3 m-0 c-0"></span>
                    <span class="ti-shopping-cart l-3 m-3 c-3 phone-icon-12"></span>
                    <span class="ti-menu l-0 m-9 c-9 phone-icon-12">
                        <p class="phone-icon-0">MENU</p>
                    </span>
                </div>
            </div>
            <div class="menu-desktop">
                <ul class="row">
                    <li class="col l-1-3 l-o-1 m-0 c-0">
                        <a th:href="@{/neekine}" class="current-page">TRANG CHỦ</a>
                    </li>
                    <li class="col l-1-5 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine}">TẤT CẢ SẢN PHẨM</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                            <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine}">GIÀY</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Giày Nike</a></li>
                            <li><a th:href="@{/neekine}">Giày adidas</a></li>
                            <li><a th:href="@{/neekine}">Giày New Balance</a></li>
                            <li><a th:href="@{/neekine}">Giày Reebok</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine}">DÉP</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Dép adidas</a></li>
                            <li><a th:href="@{/neekine}">Dép Nike</a></li>
                            <li><a th:href="@{/neekine}">Dép Puma</a></li>
                            <li><a th:href="@{/neekine}">Dép Crocs</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine}">QUẦN/ÁO</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                            <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0 has-subnav">
                        <a th:href="@{/neekine}">BALO/TÚI</a>
                        <i class="ti-angle-down"></i>

                        <ul class="subnav">
                            <li class="item-top"><a th:href="@{/neekine}">Nike By You on SALE</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Force 1</a></li>
                            <li><a th:href="@{/neekine}">Nike Air Max</a></li>
                            <li><a th:href="@{/neekine}">Nike Dunk</a></li>
                        </ul>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TIN TỨC</a>
                    </li>
                    <li class="col l-1-3 m-0 c-0">
                        <a th:href="@{/neekine}">TUYỂN DỤNG</a>
                    </li>
                </ul>
            </div>
            
            <form th:action="@{/neekine}" class="search-box row l-0">
                <input type="text" placeholder="Tìm kiếm sản phẩm..." class="col m-11 c-11">
                <button class="m-1 c-1"><i class="ti-search"></i></button>
            </form>
        </header>

        <main class="box-login grid">
            <div class="row">
                <div class="title-login col l-6 m-12 c-12">
                    <p>Đăng ký</p>
                </div>
                <form th:action="@{/account/register}" th:object="${registerClientDTO}" class="form-login col l-6 m-12 c-12" id="form-1" method="post">
                    <div class="form-group">
                        <span class="form-message"></span>
                        <input type="text" th:field="*{client.fullName}" id="fullname" name="fullname" placeholder="Họ và tên">
                    </div>
                    <div class="form-group">
                        <span class="form-message"></span>
                        <div class="sex">
                            <input type="radio" id="radio1" class="form-radio" th:field="*{client.gioiTinh}" th:value="nam">
                            <label for="radio1">Nam</label>
                            <input type="radio" id="radio2" class="form-radio" th:field="*{client.gioiTinh}" th:value="nữ">
                            <label for="radio2">Nữ</label>
                            <input type="radio" id="radio3" class="form-radio" th:field="*{client.gioiTinh}" th:value="khác">
                            <label for="radio3">Khác</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="form-message"></span>
                        <input type="text" th:field="*{account.email}" id="email" name="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <span class="form-message"></span>
                        <input type="password" th:field="*{account.password}" id="password" name="password" placeholder="Mật khẩu">
                    </div>
                    <div class="form-group">
                        <span class="form-message"></span>
                        <input type="password"  id="password_confirmation" name="password" placeholder="Nhập lại mật khẩu">
                    </div>
                    <button type="submit">Đăng ký</button><br><br><br>
                    <a th:href="@{/neekine}"><i class="ti-arrow-left"></i>Quay lại trang chủ</a>
                </form>
            </div>
        </main>
        

        <footer class="grid">
            <div class="top-footer row"> 
                <div class="receive-email col l-9 m-12 c-12 row">
                    <div class="email-text col l-3 m-12 c-12">
                        <i class="ti-email"></i>
                        <p>Đăng ký nhận tin</p>
                    </div>
                    <form th:action="@{/neekine}" class="input-email col l-9 m-12 c-12 row">
                        <input type="text" placeholder="Nhập email của bạn">
                        <button>ĐĂNG KÝ</button>
                    </form>
                </div>
                <div class="infor-store col l-3 m-12 c-12 row">
                    <div class="phone-number col l-12 m-3 c-12">
                        <i class="ti-headphone-alt"></i>
                        <p>Hỗ trợ: 0999999999</p>
                    </div>
                    <div class="email col l-12 m-3 c-12">
                        <a th:href="@{/neekine}">Kien12045@gmail.com</a>
                    </div>
                </div>
            </div>

            <div class="main-footer row">
                <div class="introduce col l-5 l-o-1 m-5 m-o-1 c-11 c-o-1">
                    <h2>Gới thiệu</h2>
                    <p>
                        Online Sport Store là địa chỉ uy tín cho những người yêu thể thao 
                        và phong cách sống năng động. Chúng tôi cung cấp sản phẩm 
                        chính hãng từ các thương hiệu hàng đầu như Nike, Adidas, Puma 
                        và nhiều thương hiệu nổi tiếng khác. Sản phẩm của chúng tôi bao 
                        gồm giày chạy bộ, giày đá bóng, giày tập gym, trang phục thể
                        thao và phụ kiện như balo, túi xách, nón, tất. Online Sport Store 
                        cam kết chất lượng, đảm bảo hàng chính hãng và mang đến 
                        trải nghiệm mua sắm tuyệt vời cùng dịch vụ hậu mãi chu đáo. 
                        Hãy đến với chúng tôi để nâng cao phong cách và hiệu suất thể 
                        thao của bạn!
                    </p>
                </div>
                <div class="contact col l-5 l-o-1 m-5 m-o-1 c-11 c-o-1">
                    <h2>Thông tin liên hệ</h2>
                    <span class="ti-location-pin"><p>110 Đ. Trần Duy Hưng, Hà Nội</p></span>
                    <span class="ti-headphone-alt"><p>0999999999</p></span>
                    <span class="ti-email"><p>Kien12045@gmail.com</p></span>
                    <span class="ti-facebook">
                        <a href="https://www.facebook.com/profile.php?id=100049780284291">Neekine</a>
                    </span>
                </div>
            </div>

            <div class="bottom-footer">
                <p>Copyright © 2024 Online Sport Store.</p>
            </div>
        </footer>
    </div>

    <div class="body-search-pc">
        <div class="header-search">
            <p>Tìm kiếm</p>
            <i class="ti-close"></i>
        </div>
        <div class="search-box search-pc">
            <form th:action="@{/neekine}" class="row">
                <input type="text" placeholder="Tìm kiếm sản phẩm..." class="col l-10 m-10 c-10">
                <button class="col l-2 m-2 c-2"><i class="ti-search"></i></button>
            </form>
            <div class="content-search"></div>
        </div>
    </div>
</body>
<script th:src="@{/js/Register.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Mong muốn của chúng ta
        Validator({
            form: '#form-1',
            formGroupSelector: '.form-group',
            errorSelector: '.form-message',
            rules: [
                Validator.isRequired('#fullname', 'Vui lòng nhập tên đầy đủ của bạn'),
                Validator.isEmail('#email'),
                Validator.isSex('.form-radio', 'Vui lòng chọn giới tính của bạn'),
                Validator.minLength('#password', 6),
                Validator.isRequired('#password_confirmation'),
                Validator.isConfirmed('#password_confirmation', function () {
                return document.querySelector('#form-1 #password').value;
            }, 'Mật khẩu nhập lại không chính xác')
            ]
        });

    });
</script>
</html>